// General Components
@import "./import/_header.less";
@import "./import/_colors.less";
@import "./import/_services.less";
@import "./import/_masters.less";
@import "./import/_about.less";
@import "./import/_footer.less";
@import "./import/_font.less";
@import "./import/_price.less"; //price page
@import "./import/_contact-page.less"; //contact page
@import "./import/_modal.less"; // modal window



body {
    margin: 0;
    padding: 0;
}

h4 {
    color: #fff;
}

a {
    text-decoration: none !important;
}