//Fonts
.services-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

// title
.title {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @title;

    // masters
    &-masters {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: @title;
    }
    &-prof {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: @home-btn;
    }
    &-exp {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: @text;
    }
}
 .contacts-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: @text;
}
.feedback-number {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @title;
    &-price{
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: @title;
    }
    &-header {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: @title;
    }
}
.inst-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
}
.about-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: @title;
}
.about-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
}
.title-value {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
}
.title-body-price {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: @title;
    text-align: center;
}
.value {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: @title;
}
.home-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
}
.yclients-price {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}
.masters-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: @text;
}
.footer-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
    &:hover {
        color: @pink-btn;
    }
}


// Font masters
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .title {
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: @title;
    
        // masters
        &-masters {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: @title;
        }
        &-prof {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: @home-btn;
        }
        &-exp {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: @text;
        }
    }
    .masters-text {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: @text;
    }
}
h1 { 
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important; 
}
.seo-text {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important; 
}
@media (max-width: 991.98px) { 
    .title {
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: @title;
    
        // masters
        &-masters {
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: @title;
        }
        &-prof {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: @home-btn;
        }
        &-exp {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: @text;
        }
    }
    .masters-text {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: @text;
    }
}

@media  (max-width: 575.98px) {
    .title {
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: @title;
    
        // masters
        &-masters {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: @title;
        }
        &-prof {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: @home-btn;
        }
        &-exp {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: @text;
        }
    }
    .masters-text {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: @text;
    }
}