//Fonts
.services-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}
.title {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @title;
}
 .contacts-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: @text;
}
.feedback-number {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @title;
}
.inst-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
}
.about-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: @title;
}
.about-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
}
.title-value {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @text;
}
.value {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: @title;
}
.home-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
}