footer {
    height: 200px;
}

.wrapp-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 1170px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-navs {
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    &-number {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
    }
}