.header-wrapp {
    width: 100%;
    background-color: @pink-bg;
    height: 800px;
}

.header {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    &-navbar {
        width: 100%;
        height: 110px;
    }
    &-img {
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    &-buttons {
        width: 100%;
        height: 120px;
        margin-top: 70px;
        &-container {
            margin: auto;
            width: 250px;
            height: 120px;
        }
    }

    // yclients header button
    .yclients-btn {
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(235, 87, 87, 0.22);
        text-decoration: none;
        color: @title;
        transition:  0.5s;
        &:hover {
            text-decoration: none;
            transition:  0.5s;
            box-shadow: 0px 4px 25px rgba(180, 75, 75, 0.247);
        }
    }

    &-social {
        width: 100%;
        height: 50px;
        margin-top: 100px;
        &-links {
            margin: 0 auto;
            width: 250px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
