// modal window style
.btn-footer-close {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: @pink-btn;
    color: #ffffff;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}
.btn-footer-send {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: @home-btn;
    color: #ffffff;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}